<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
    </head>
    
    <body>
        <h2>Assignment Details</h2>
        
        {{assignment.name}}<br>
        {{assignment.course.course_num}} - {{assignment.course.course_title}}<br>
        Instructions: {{assignment.instructions}}<br>
        Maximum allowed submissions <b>{% if assignment.max_submissions == 0 %} unlimited {% else %} {{assignment.max_submissions}} {% endif %}</b><br>
        Due date: <b>{{assignment.due_date}}</b><br>
    
        <br>
        <br>
        <br>
        <h3>Assignment Submission Form </h3>
        <hr>
        <form enctype="multipart/form-data" action="{% url collector.views.submit_assignment assignment.course.course_num assignment.name %}" method="post">
            {% if form.errors %}<p>Please correct the error{{form.errors|pluralize}} below and resubmit</p> {%endif%}
            {{form.as_p}}

            <input type="submit" value="Submit Assignment"/>
        </form>
        <hr>
        <p>{{grader_output}}</p>
    </body>
    
</html>