<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
    </head>
    
    <body>
        <ul>
            {% for assn in assignments %}
                <a href="{% url collector.views.view_assignment course_id=assn.course.course_num assn_name=assn.name %}"> <li>{{assn.name}}  <b>Due:{{assn.due_date}}</b> </a>
            {% endfor %}
        </ul>
    </body>
    



</html>