<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		{%if course_index %}
			<title>Courses</title>
		{% endif %}
		{% if specific_term_course_index %}
			<title>Courses for {{specific_term_course_index.1|lower|capfirst}} {{specific_term_course_index.0}}</title>
		{%endif%}
	</head>
	
	<body>
        <ul>
    		{% for course in course_list %}
    			<a href="{% url collector.views.view_course course.year course.term course.course_num %}" <li>{{course.course_num}} {{course.course_title}}</li></a>
    		{% endfor %}
    	</ul>
	</body>
	



</html>